$animation-duration: 500ms;

@font-face {
    font-family: tiger-grumpy;
    src: url("../fonts/DK Grumpy Tiger.otf");
}
.title {
    font-size: 4rem !important;
    font-family: tiger-grumpy;
    margin: 0 0 0 0.5em !important;
    letter-spacing: 0.5rem;
}
body, html {
    height: 100%;
}
.content {
    height: 100%;
}
.content-75 {
    height: 75%;
    position: relative !important;
}
.icon.robot {
    height: 100%;
}
.icon.apple {
    height: 61.7%;
    width: 61.7%;
}

@mixin transition($config) {
  transition: $config;
  -o-transition: $config;
  -webkit-transition: $config;
  -moz-transition: $config;
}
/* Robot turning animation */
.robot {
  @include transition(all $animation-duration ease-in-out);
}
@mixin transform($config) {
  transform: $config;
  -o-transform: $config;
  -webkit-transform: $config;
  -moz-transform: $config;
  -ms-transform: $config;
}
@mixin rotate($deg) {
  @include transform(rotate($deg));
}
/* Robot turning animation end
Robot move animation*/
.robot.ng-hide-remove {
  @include transition(all $animation-duration ease-in);
}
.robot.ng-hide-remove-active {
  @extend .robot;
  @include transform(translate(0, 0));
}
//.up.enter-active {
//  @extend .robot;
//}
//.right.enter-active {
//  @extend .robot;
//  //@include robot-rotate(90deg);
//}
//.bottom.enter-active {
//  @extend .robot;
//  //@include robot-rotate(180deg);
//}
//.left.enter-active {
//  @extend .robot;
//  //@include robot-rotate(270deg);
//}