$animation-duration: 500ms;

@font-face {
    font-family: tiger-grumpy;
    src: url("../fonts/DK Grumpy Tiger.otf");
}
.title {
    font-size: 4rem !important;
    font-family: tiger-grumpy;
    margin: 0 0 0 0.5em !important;
    letter-spacing: 0.5rem;
}
body, html {
    height: 100%;
}
.content {
    height: 100%;
}
.content-75 {
    height: 75%;
    position: relative !important;
}
.icon.robot {
    height: 100%;
}
.icon.apple {
    height: 61.7%;
    width: 61.7%;
}
/* Robot turning animation */
@mixin robot-rotate($deg) {
  transform: rotate($deg);
  -o-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
.robot {
  //transition: all $animation-duration ease-in-out;
  //-o-transition: all $animation-duration ease-in-out;
  //-webkit-transition: all $animation-duration ease-in-out;
  //-moz-transition: all $animation-duration ease-in-out;
}
.up {
  @extend .robot;
  @include robot-rotate(0deg);
}
.right {
  @extend .robot;
  //@include robot-rotate(90deg);
}
.bottom {
  @extend .robot;
  //@include robot-rotate(180deg);
}
.left {
  @extend .robot;
  //@include robot-rotate(270deg);
}
/* Robot turning animation end */